
.header{
    background-color: orange;
    border-top: 2px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.header_img{
    height: 10rem;
    width: 30rem;
    border: 2px solid black;
    border-radius: 60%;
}

.header_text{
    font-size: xx-large;
    font-weight: 700;
    padding: 10px;
}

.header_img_container{
    text-align: center;
}

.second_header{
    background-color: brown;
    width: 100%;  
    position: relative;
    bottom: 0px;
    padding: 10px;
    text-align: center;
    font-size: x-large;
    font-weight: 500;
    color: white;
    border-bottom: 2px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.container{
    padding: 10px;
    margin: 10px;
}

.layout{
    padding: 10px;
    margin: 10px;
    background-color: gray;
    height: 100vh;
    width: 100vw;
}

.select ,.input, .button{
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    color: black;
}
.item_container{
    padding: 5px;
    margin: 10px;
    border: 1px solid black;
}

.item_container> span{
    padding: 10px;
}

.item_container > button{
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.items-list{
    display: flex;
    
}
